{{#if admin}}
<ul class="list-group">
  {{#each comentarios}}
  <li class="list-group-item list-group-item-dark">{{comentario}}
<button class="borrar btn btn-dark" data="{{id_comentario}}">BORRAR</button></li>
  {{/each}}
</ul>
{{else}}
<ul class="list-group">
  {{#each comentarios}}
  <li class="list-group-item list-group-item-dark">{{comentario}}
  {{/each}}
</ul>
{{/if}}
